body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --item_height:320px;
}
.main_container{
    width: 100%; 
}
nav.sticky{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
}
.logo_cover{
    position: absolute;
    margin-top: -12px;
    margin-left: 115px;   
}
.cover{
    position: absolute;
    width: 250px;
    height: 51px;
    margin-top: 5px;
    margin-left: 105px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.main_logo{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 75px;   
}
.main_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_nav{
    width: 100%;
    height: 40px; 
    background-color: white; 
    border-bottom: 1px solid lightgrey; 
}
.main_nav ul{
    
    list-style-type: none;
    display: flex;
    justify-content: center;  
}
.main_nav ul li{
    width: 150px;
    font-size: 16px;
}
.main_nav ul li a{
    text-decoration: none;
    color: black;
}
.main_nav ul li:hover  a{
    border-bottom: 2px solid red;
}
.main_icons{
    width: 110px;
    margin-top: -40px;
    margin-left: 73%; 
}
.main_icons ul li{
    list-style-type: none;
    font-size: 18px;
}
.main_icons ul li:hover #a{
    border: none;
}
.underlined{
    border-bottom:3px solid red;
}
/*===============================*/
.main_vision_background{
    width: 100%;
    height: 480px;
    background-image: linear-gradient(45deg, rgb(183,214,208),rgb(206,139,71),rgb(185,52,54));
   
}
.main_vision_background h1{
    width: 800px;
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    
}
.main_vision_nav{
   width: 100%;
    height: 60px;
    background-color: rgb(238,238,238);
    margin-top: 8px;
    display: flex;
    justify-content: center;
   
    z-index:90;
    box-shadow: 0px 4px 5px rgb(231, 230, 230);
}
.main_vision_nav ul{  
    display: flex;    
}
.main_vision_nav ul li{
    width: 170px;
    height: 20px;
    list-style-type: none;
    padding: 20px 30px;
    text-align: center;
    margin: 0px 20px;
    margin-top: -20px;
    
}
.main_vision_nav ul li:hover {
    border-bottom: 3px solid red; 
}
.main_vision_nav ul li a{
    text-decoration: none;
    color: rgb(91,91,91);
    font-size: 18px;
}
.main_vision_nav ul li:hover a{
    color: black;
    font-size: 18.5px;
}
.underlined_3 {
    border-bottom: 3px solid red; 
}
.underlined_3 a{
    color: rgb(0, 0, 0) !important;
}
.underlined_2 a{
    color: rgb(0, 0, 0) !important;
}
/*========================end header=================*/
.main_vision_content_item_1{
    width: 100%;
    height: 470px;
    background-color: rgb(255, 255, 255);
    margin-top: -2px;
    display: flex;
    justify-content: center;
}
.main_vision_content_item_1_text{
    margin-top: 60px;
    width: 865px;
    justify-content: center;
}
.main_vision_content_item_1_text span{
   
    font-size: 35px;
}
.main_vision_content_item_1_text h2{
    border-left: 5px solid red;
    margin-left: 35px;
    padding-left: 15px;
}
.main_vision_content_item_1_text_two {
    margin-top: 50px;
}
.main_vision_content_item_1_text_two p{
    margin-top: 35px;
    font-size: 20px;
    line-height: 28px;
}
/*===========end-item-1===============*/
.main_vision_content_item_2{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main_vision_content_item_2_text{
    width: 52%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
.main_vision_content_item_2_text_box{
    width: 400px;
}
.main_vision_content_item_2_text_box span{
    font-size: 28px;
}
.main_vision_content_item_2_text_box p{
    font-size: 18px;
}
.main_vision_content_item_2_link a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.main_vision_content_item_2_link i{
    position: absolute;
    width: 13px;
    height: 7px;
    text-align: center;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 4px; 
    padding: 3px 0px;
    transition: all 0.8s
}
.main_vision_content_item_2_link:hover i{
    transform: translateX(15px);
}
.main_vision_content_item_2_link:hover a{
    border-bottom: 2px solid red;
}
.main_vision_content_item_2_img{
    width: 48%;
    height: 400px;
}
.main_vision_content_item_2_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*=================END-item2=========================*/
.main_vision_content_item_3{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
}
.main_vision_content_item_3_text{
    width: 52%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
.main_vision_content_item_3_text_box{
    width: 400px;
}
.main_vision_content_item_3_text_box span{
    font-size: 28px;
}
.main_vision_content_item_3_text_box p{
    font-size: 18px;
}
.main_vision_content_item_3_link a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.main_vision_content_item_3_link i{
    position: absolute;
    width: 13px;
    height: 7px;
    text-align: center;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 4px; 
    padding: 3px 0px;
    transition: all 0.8s
}
.main_vision_content_item_3_link:hover i{
    transform: translateX(15px);
}
.main_vision_content_item_3_link:hover a{
    border-bottom: 2px solid red;
}
.main_vision_content_item_3_img{
    width: 48%;
    height: 400px;
}
.main_vision_content_item_3_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*===================end-item3=============================*/
.main_footer{
    width: 100%;
    height: 190px;
    background-color: rgb(74,74,74);
    border-top: 1px solid white;
    margin-top: 170px;
}
.main_footer_nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.main_footer_nav_img{
    margin-left: 60px;

}
.main_footer_nav_text{
    margin-right: 90px;
    margin-top: -4px;
}
.main_footer_nav_text ul{
   
    list-style-type: none;
    display: flex;
}
.main_footer_nav_text ul li{
   padding: 0px 25px;
   border-right: 1px solid white;
}
.main_footer_nav_text ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.main_footer_nav_bottom{
    margin-top: 20px; 
    display: flex;
    justify-content: space-between;
}
.main_footer_nav_bottom_text{
    margin-left: 60px;
    line-height: 20px;  
}
.main_footer_nav_bottom_text span{
    color: white;
}
.main_footer_nav_bottom_text a{
    color: white;
}
.main_footer_nav_bottom_icons{
    margin-right: 90px;
}
.main_footer_nav_bottom ul{
    list-style-type: none;
    display: flex;
}
.main_footer_nav_bottom ul li{
    margin-top: -20px;
   padding: 0px 15px;
}
.main_footer_nav_bottom ul li a{
    display: block;
    text-decoration: none;
    color: rgb(183,183,183);
    font-size: 25px;
    width: 42px;
    height: 38px;
    text-align: center;
    border: 1px solid rgb(183,183,183);
    border-radius: 50%;
    padding-top: 5px;
}






