* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner-sustainability img {
    width: 100%;
    height: 100%;
}

/*  navagation - main  */
#navbar {
    position: sticky;
    top: 0;
}
nav.sticky{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
}
.logo_cover{
    position: absolute;
    margin-top: -4px;
    margin-left: 115px;   
}
.cover{
    position: absolute;
    width: 250px;
    height: 51px;
    margin-top: 5px;
    margin-left: 105px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.main_logo{
    position: relative;
    transform: translateX(-50%);
    width: 400px;
    height: 75px;
    left: 50%;  
}
.main_logo img{
    width: 100%;
    height: 100%;
}
.main_nav{
    width: 100%;
    height: 60px; 
    background-color: white;  
}
.main_nav ul{
    line-height: 60px;
    list-style-type: none;
    display: flex;
    justify-content: center;
   
}
.main_nav ul li{
    width: 150px;
  
    font-size: 16px;
   
}
.main_nav ul li a{
    text-decoration: none;
    color: black;
    
}
.main_nav ul li:hover  a{
    border-bottom: 2px solid red;
}
.main_icons{
    width: 110px;
    margin-top: -60px;
    margin-left: 73%;
}
.main_icons ul li{
    list-style-type: none;
    font-size: 18px;
}
.main_icons ul li:hover #a{
    border: none;
}

/*                     content sustainability                             */

.banner-sustainability {
    background-color: black;
    height: 400px;
}

.menu-item {
    height: 70px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    position: sticky;
    z-index: 1;
    top: 0;
}

.menu-item li {
    display: inline-block;
    color: #484848;
    border-bottom: 0px solid red;
    position: relative;
}

.menu-item a{
    padding: 20px;
}

.menu-item li::after {
    content: "";
    position: absolute;
    background-color: red;
    bottom: 0;
    width: 0%;
    height: 2px;
    left: 0;
} 

.menu-item  li:hover::after {
    width: 100%;
}

.menu-item li:hover {
    font-size: 17px;
    color: black;
}

.menu-item  li:target::after {
    width: 100%;
}

.menu-item li:target {
    font-size: 17px;
    color: black;
}


.content-sustainability {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-header {
    width: 1000px;
}

.text-header h2 {
    text-align: center;
    padding: 10px 10px ;
    font-size: 40px;
    font-weight: 300;
    padding: 20px;
}

.text-header p{
font-size: 19x;
    text-align: center;
    padding-left: 30px;

}

.text-header img {
    width: 30px;
    height: 50px;
    position: relative;
    top: -66px;
}

.item-left {
    width: 1000px;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2,500px);
    margin-bottom: 70px;
}

.text-2 {
    background-color: white;
    margin: 30px 0px 30px 100px;
    position: relative;
}
.logo-item {
    position: absolute;
    width: 15px;
    top: 30px;
    left: -32px;
}

.mleft{
    margin: 30px 0px 30px 100px;
}

.mright {
    margin: 30px 100px 30px 0;
}

.text-2 h5 {
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 10px;
}


.text-2 p {
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

.text-2 button {
    border: none;
    background: white;
    font-size: 16px ;
    text-transform: uppercase;
    margin: 20px 20px 20px 0;
    font-weight: 300;
    cursor: pointer;
}
.text-2 a {
    padding: 20px 20px 20px 0;
}

.text-2 button::after {
    content: "";
    background-image: url(https://shared.coke.com/content/dam/nextgen/images/icons/circle-arrow_cta.svg);
    background-size: 100%;
    position: absolute;
    width: 15px;
    height: 15px;
}
.text-2 button:hover::after {
    transform: translateX(15px);
    transition: all 1s ease-in-out;
}

.text-2 button:hover  {
    border-bottom: 2px solid red;
}

.img-item {
    position: relative;
}
.img-item img {
    position: absolute;
    right: 57px;
}

.img-item img:nth-child(2){
    right: 26px;
} 

.item-right {
    width: 1000px;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2,500px);
    margin-bottom: 70px;
}

.img-item-right {
    position: relative;
}

.img-item-right img {
    left: 56px;
    position: absolute;

}
.item-center {
    width: 1000px;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2,500px);
    gap: 20px;
    margin-bottom: 70px;
}


.space-item {
    line-height: 68px;
    border-top: 0.1px solid #d2d2d2;
    width: 1000px;
}

.space-item h2 {
    font-size: 25px;
    font-weight: 200;
}

.center-2 {
    padding-right: 100px;
    margin-top: 100px;
}

  .img-item2 img {
    width: 104%;
    min-height: 100%;
    object-fit: cover;

}

.center-3 {
    grid-template-columns: repeat(3,333px);
    margin-top: 20px;
}

.center-text-2 {
    margin: 100px 0px 0 0px;
}

.img-center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-item li {
    padding: 16px 20px;
    text-decoration: none;
    list-style: none;
    margin-left: 25px;
    position: relative;
}

.list-item a::after {
    content: " ";
    position: absolute;
    left: 0;
    width: 2px;
    height: 46%;
    left: 43px;
    background-color: red;
}

.list-item a {
    color: black;
}

.list-item a:hover {
    color: red;
}
.list-item span{
    margin-right: 20px;
    font-size: 20px;
}

hr  {
    width: 1000px;
}

.space-text-2 {
    width: 1000px;
    margin: 20px 0;
}

.space-text-2 h1{
    margin-top: 27px;
    font-size: 25px;
    font-weight: 300;
    border-left: 5px solid red;
    padding-left: 20px;
}

.center-4 {
    grid-template-columns: 333px 333px 333px;

}

.center-4 h5{
    font-size: 18px;
    color: black;
    font-family: "TCCC-UnityText-Medium", "TCCC-UnityText", sans-serif;
    position: relative;
}

.center-4 a {
    text-decoration: none;
    color: red;
}

.center-4 a:hover {
    text-decoration: revert;
}

.text-grid {
    padding: 20px;
    line-height: 1.6;
}

.text-grid:hover h5::after {
   transform: translateX(15px);
   transition: all 1s ease-in-out;
}

.text-grid h5::after {
    content: "";
    background-image: url(https://shared.coke.com/content/dam/nextgen/images/icons/circle-arrow_cta.svg);
    background-size: 100%;
    position: absolute;
    width: 15px;
    bottom: 6px;
    height: 15px;
}

.img-gird:hover img  {
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.img-gird {
    overflow: hidden;
}

/* footer */
.main_footer{
    width: 100%;
    height: 190px;
    background-color: rgb(74,74,74);
    border-top: 1px solid white;
}
.main_footer_nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.main_footer_nav_img{
    margin-left: 60px;

}
.main_footer_nav_text{
    margin-right: 90px;
    margin-top: -4px;
}
.main_footer_nav_text ul{
   
    list-style-type: none;
    display: flex;
}
.main_footer_nav_text ul li{
   padding: 0px 25px;
   border-right: 1px solid white;
  
}
.main_footer_nav_text ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.main_footer_nav_bottom{
    margin-top: 20px;
    
    display: flex;
    justify-content: space-between;
}
.main_footer_nav_bottom_text{
    margin-left: 60px;
    line-height: 20px;
    
}
.main_footer_nav_bottom_text span{
    color: white;
}
.main_footer_nav_bottom_text a{
    
    color: white;
}
.main_footer_nav_bottom_icons{
    margin-right: 90px;
}
.main_footer_nav_bottom ul{
   
    list-style-type: none;
    display: flex;
}
.main_footer_nav_bottom ul li{
    margin-top: -20px;
   padding: 0px 15px; 
}
.main_footer_nav_bottom ul li a{
    display: block;
    text-decoration: none;
    color: rgb(183,183,183);
    font-size: 25px;
    width: 42px;
    height: 38px;
    text-align: center;
    border: 1px solid rgb(183,183,183);
    border-radius: 50%;
    padding-top: 5px;
}