body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main_container{
    width: 100%;
}
nav.sticky{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
}

.main_logo{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 75px;   
}
.main_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_nav{
    width: 100%;
    height: 40px; 
    background-color: white;  
    border-bottom: 1px solid rgb(187, 187, 187);
}
.main_nav ul{   
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.main_nav ul li{
    width: 150px;
    font-size: 16px;
}
.main_nav ul li a{
    text-decoration: none;
    color: black;   
}
.main_nav ul li:hover  a{
    border-bottom: 2px solid red;
}
.main_icons{
    width: 110px;
    margin-top: -40px;
    margin-left: 73%;
}
.main_icons ul li{
    list-style-type: none;
    font-size: 18px;
}
.main_icons ul li:hover #a{
    border: none;
}
/*===============================================*/
.add_main_item_2_background{
    width: 100%;
    height: 385px;

}
.add_main_item_2_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add_main_item_2_box_1{
    width: 100%;
    height: 355px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(108, 105, 105);
}
.add_main_item_2_box_1_text{
    width: 888px;
    font-size: 18px;
    line-height: 28px;

}
.main_link_add_main_item_2{
    height: 200px;
}
.main_link_add_main_item_2 a{
    text-decoration: none;
    color: black;
}
.main_link_add_main_item_2 i{
    position: absolute;
    width: 15px;
    height: 15px;
    text-align: center;
    border: 1px solid rgb(250, 0, 0);
    color: rgb(221, 44, 44);
    border-radius: 50%;
    font-size: 15px;
    transition: all 0.8s;
    margin-top: 19px;
   
}
.main_link_add_main_item_2:hover  i{
    transform: translateX(15px);
}
.add_main_item_2_box_2{
    width: 100%;
    height: 550px;
   justify-content: center;
   margin-top: 50px;
}
.add_main_item_2_box_2_img{
    width: 1050px;
    height: 112px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.add_main_item_2_box_2_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add_main_item_2_box_2_text{
    width: 1045px;
    height: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    line-height: 55px;
   
}
.add_main_item_2_box_2_text span{
    font-size: 18px ;   
}
.add_main_item_2_box_3{
    width: 100%;
    height: 550px;
   justify-content: center;
   margin-top: -100px;
}
.add_main_item_2_box_3_img{
    width: 1050px;
    height: 112px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.add_main_item_2_box_3_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.add_main_item_2_box_3_text{
    width: 1045px;
    height: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    line-height: 55px;
   
}
.add_main_item_2_box_3_text span{
    font-size: 18px ;
}
/*=================Footer=====================*/
.main_footer{
    width: 100%;
    height: 190px;
    background-color: rgb(74,74,74);
    border-top: 1px solid white;
}
.main_footer_nav{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.main_footer_nav_img{
    margin-left: 60px;

}
.main_footer_nav_text{
    margin-right: 90px;
    margin-top: -4px;
}
.main_footer_nav_text ul{
   
    list-style-type: none;
    display: flex;
}
.main_footer_nav_text ul li{
   padding: 0px 25px;
   border-right: 1px solid white;
}
.main_footer_nav_text ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.main_footer_nav_bottom{
    margin-top: 20px; 
    display: flex;
    justify-content: space-between;
}
.main_footer_nav_bottom_text{
    margin-left: 60px;
    line-height: 20px;  
}
.main_footer_nav_bottom_text span{
    color: white;
}
.main_footer_nav_bottom_text a{
    color: white;
}
.main_footer_nav_bottom_icons{
    margin-right: 90px;
}
.main_footer_nav_bottom ul{
    list-style-type: none;
    display: flex;
}
.main_footer_nav_bottom ul li{
    margin-top: -20px;
   padding: 0px 15px;
}
.main_footer_nav_bottom ul li a{
    display: block;
    text-decoration: none;
    color: rgb(183,183,183);
    font-size: 25px;
    width: 42px;
    height: 38px;
    text-align: center;
    border: 1px solid rgb(183,183,183);
    border-radius: 50%;
    padding-top: 5px;
}
